// media query
$tablet-width: 768px;
$desktop-width: 1024px;

$red: #f38181;
$dark-blue: #374249;
$font-color: #797979;
$headers: #797979;
$hover-buttons: #cfd1d3;
$bkg-sections: #cfd1d3;
$font-family: 'Roboto', sans-serif;

